/* BS5 reset */
a{text-decoration: none;}
#section-row-4.row{--bs-gutter-x:0 !important;}

.egLSsd{
    margin: 8px 16px;
    padding:0;
}


.swiper-button-next::after, .swiper-button-prev::after{            font-size:18px !important;        }
.swiper-pagination-bullet-active{background:#EE7442;}
.swiper-button-next, .swiper-button-prev{
    
width: 50px !important;
height: 50px !important;
box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
background:        rgb(255, 255, 255);
border-radius:        50%;
cursor: pointer;
display: flex;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 2;
color: #333 !important;}
  
.swiper-button-next{right: -50px !important;}
.swiper-button-prev{left: -50px !important;} 
    
    

   html, body {      overflow-x:hidden     } 


.DynamicLayout_dynamicLayout__bjaGu.DynamicLayout_Homepage__tlBoD, .hRgeQM, .ggZJys{background: #fff !important}
.basic-menu.horizontal .basic-menu-item .menu-item-label{
  padding-left: 0;
  
  border-radius: 8px;
  padding: 0px 16px;
  margin-right: 0px;
  margin-bottom: 4px;
  display: inline-block;
}
.basic-menu.horizontal .basic-menu-item .menu-item-label:hover{
  background: rgba(120, 171, 220,.1);  
}    

   .submenu .menu-item-label:hover
   {
  background: rgba(253, 206, 134,0) !important;  
}    

.basic-menu.horizontal .submenu{
    min-width: 300px;
}

.basic-menu-item:has(.menu-item-label):has(.submenu) .menu-item-label::after{
    content: url("https://b2ccdn.coraltravel.pl/content/nav_arrow_down.svg");
    margin-left: 8px;
}

.submenu .menu-item-label::after{
    content: none !important;
    margin-left: inherit;
}

.kiUziT {padding: 0px 5px;}


.brKGwz .navigations-container .navigations .slick-dots li .dot,
.isigOm .slick-dots li .dot {
    width: 15px;
    height: 25px;
    border-radius: 15px;
    background: rgb(0, 119, 177);
    
}

  .brKGwz .navigations-container .navigations .slick-dots li .dot {
  border: 3px solid rgb(255, 255, 255);
 }

.isigOm .slick-dots li{
    width: auto !important;
    height: auto !important;
}

.isigOm .navigations .slick-dots{
gap: 5px;
}

.brKGwz .navigations-container{
bottom: 20px;
}

.eUxvVk,
.hYKDFy .wrapper,
.brKGwz .carouselContainer .ant-carousel .slick-slider .slick-list{
    border-radius: 16px;
}

.jLnPBy .quicksearch-packagetour-search-button{
    border-radius: 8px;
}


    .trkCh{
background: #ffffff;
padding: 0;
    }
    .htDGW{
padding: 20px;
    }
    
     
    .heading-bottom .heading-tabs div.heading-tab.active {
background: rgb(0, 147, 208) !important;

    }
    
    .heading-bottom .heading-tabs div.heading-tab:hover{
    background: rgb(0, 147, 208) !important;
    color: #fff;
    }   
    
    .gjbArq {
      flex-direction: row-reverse !important;
      margin: 8px 0px 16px !important;
      
    }
    .gjbArq .heading-top{
min-width: 220px;
width: auto;
    }
    
    
    
    
    .bs5.container {
      text-align: center;
      max-width: 1378px !important;}
    .beach-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.beach-image {
    display: block;
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.image-overlay.red{background-color: #F47A63; /* red color */}

.image-overlay.turquise{background-color: #00A9C6; /* turquise color */}
.image-overlay.orange_dark{background-color: #ff7b29; /* Orange dark color */}
.image-overlay.orange{background-color: #FAB60B; /* Orange color */}
.image-overlay.green {background-color: #af81b8;}    

.image-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: circle(40% at 75% 70%);
    transition: clip-path 0.5s ease;
}
    
     .image-clip.last-minute {
    clip-path:circle(60% at 50% 74%);
    
}
     .box:hover .image-clip,
      .image-container:hover .image-clip {
    /*clip-path: circle(150% at center);*/
    cursor: pointer;
}

    
    
    .bs5 h2, .bs5 h4{z-index:99;}


    .cwwLHB .placeholder{
    background-color: transparent !important;
    cursor: pointer !important;
    }      
    
    a{text-decoration: none;}


    
    .image-container img {border-radius: 8px;}
    
    .stretched-link::after {z-index: 999;}

    
    .swiper-kierunki .swiper-slide{position:relative;}
    .swiper-kierunki .swiper-slide h2{
          position: absolute;
          color: #fff;
          left: 10px;
          top: 10px;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 700;
    }
    .swiper-kierunki .swiper-slide p{
          position: absolute;
          top: 30px;
          left: 10px;
          color: #fff;
          font-size: 14px;
          text-align: left;
          line-height: 120%;
        
    }
    .swiper-kierunki .swiper-slide img{border-radius: 12px;}
      .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: rgb(51, 194, 255);
}

.swiper-pagination-bullet-active {
    background: #EE7442 !important;
}
#section-row-9{
    display:none;
}


@media screen and (max-width: 567px) { 

    .efJKxc,.trkCh{
        background: #ffffff;
        padding: 0;
    }
    .htDGW{
        padding: 20px;
    }
    
     
    .heading-bottom .heading-tabs div.heading-tab.active {
        background: rgb(0, 147, 208) !important;
        
    }
    
    .heading-bottom .heading-tabs div.heading-tab:hover{
        background: rgb(0, 147, 208) !important;
        color: #fff;
    }   
    
    .comPo {
      flex-direction: row-reverse;
      margin: 8px 0px 16px;
      
    }
    .comPo .heading-top{
        min-width: 220px;
        width: auto;
    }
    
    .fRZwaW{
        margin: 8px;
        width: auto;
    }
        
        .swiper-button-next::after, .swiper-button-prev::after{            font-size:12px; font-weight: bold;        }
        .swiper-pagination-bullet-active{background:#EE7442;}
        .swiper-button-next, .swiper-button-prev{width: 20px;          height: 20px;}
        .swiper-button-next{right: -12px;}
        .swiper-button-prev{left: -12px;}       
        
.bs5 h4 {
            max-width: 200px;
            text-align: left;}

        .swiper-kierunki .swiper-slide h2 {
                left: 5%;
                top: 5%;
        }

        .swiper-kierunki .swiper-slide p {
                    top: 15%;
                    left: 5%;
        }
}


/*     desktop   
 */
@media screen and (min-width: 767px) { 

html, body {overflow-x:hidden} 
        

.kiUziT {padding: 0px 5px;}


.brKGwz .navigations-container .navigations .slick-dots li .dot,
.isigOm .slick-dots li .dot {
    width: 15px;
    height: 25px;
    border-radius: 15px;
    background: rgb(0, 119, 177);
}

.cMJeTw .swiper-pagination .swiper-pagination-bullet .dot {
    display: block;
    width: 17px !important;
    height: 25px !important;
    cursor: pointer;
    border-radius: 15px !important;
    background:rgb(0, 119, 177) !important;
    opacity: 0.5 !important;
     border:  2px solid rgba(255, 255, 255, 0.8);  
}
.cMJeTw .swiper-pagination .swiper-pagination-bullet {
    width: 15px !important;
    height: 10px !important;
}

  .brKGwz .navigations-container .navigations .slick-dots li .dot {border: 3px solid rgb(255, 255, 255); }

.isigOm .slick-dots li{width: auto !important;height: auto !important;}

.isigOm .navigations .slick-dots{gap: 5px;}

.brKGwz .navigations-container{bottom: 20px;}

.eUxvVk,
.hYKDFy .wrapper,
.brKGwz .carouselContainer .ant-carousel .slick-slider .slick-list{border-radius: 16px;}

.jLnPBy .quicksearch-packagetour-search-button{border-radius: 8px;}



.trkCh{background: #ffffff;padding: 0;}
.htDGW{padding: 20px;}


.heading-bottom .heading-tabs div.heading-tab.active {background: rgb(0, 147, 208) !important;}
.heading-bottom .heading-tabs div.heading-tab:hover{background: rgb(0, 147, 208) !important;color: #fff !important;}   

.comPo {flex-direction: row-reverse;margin: 8px 0px 16px;}
.comPo .heading-top{min-width: 220px;width: auto;}

.image-container img {min-height: 315px; }

.gQCxxL {padding: 0;}
.gQCxxL .hotel-showcase-inner {border-radius: 18px; padding: 0;}
.layout-container-limit {padding: 0px 40px;}



/* CSS-for-widgets-desktop */
.jBbdSp {
    background: rgb(255, 255, 255) !important;
}
.jBbdSp .heading-left .heading-tabs div.heading-tab.active {
    background: rgb(0, 147, 208);
}
.jBbdSp .heading-left .heading-tabs div.heading-tab:hover {
    background: rgb(0, 147, 208);
    color: rgb(255, 255, 255);
}
.jBbdSp .heading-left {
    gap: 0px;
}
.heading-tabs {
    gap: 10px;
}

/* CSS-for-custom-text-desktop */
.custom-text-style-1 {
    text-align: left;
}
.custom-text-style-1 h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.custom-text-style-1 p {
    font-size: 1em;
    color: gray;
    margin: 5px 0;
}
}