.hjxSGt {
  background: #fafafa;}


.fkdDlb img {
  border-radius: 4px;}

  .DHrFn {
    text-align: left;
    border-radius: 4px;
    box-shadow: rgb(204, 204, 204) 0px -1px 5px;
    margin-left: 10px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;}




.hjxSGt {
    padding: 32px 0px 16px;
    background: none;
  }
  
  .gOJrag .heading-left h2 {
    color: rgb(232, 79, 14);
    margin: 0px;
    line-height: 38px;
  }
  
  .fLSRNY {
    line-height: 38px;
    font-weight: 600;
    margin: 0px;
    font-size: 28px;
  }
  
  .gOJrag .heading-left .heading-tabs div.heading-tab.active {
    color: rgb(255, 255, 255);
    background: rgb(232, 79, 14);
  }
  
  .DHrFn {
    padding: 8px;
    margin-left: 10px;
    text-align: left;
    border-radius: 4px;
    box-shadow: rgb(204, 204, 204) 0px -1px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .DHrFn .hotel-showcase-inner {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 8px;
  }
  
  .fkdDlb img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .beUBPK {
    line-height: 120%;
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
  }
  
  .iEbFLv {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    gap: 1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  
  .fkdDlb {

    position: relative;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 8px;
    filter: saturate(0) opacity(0.5);
  }

  .slick-current .fkdDlb{filter:none}

  .fkdDlb:hover{filter:none}
  .fJCInn {
    color: rgb(0, 147, 208);
    line-height: 19px;
    font-size: 20px;
    font-weight: 800;
  }
  
  .jmKtfn {
    color: rgba(0, 0, 0, 0.5);
    float: left;

  }
  
  .dwxIpj {
    font-size: 16px;
    display: flex;
    gap: 0px;
  }
  
  .DHrFn .hotel-showcase-inner a:hover,
  :where(.css-1goufg3) a:hover {
    filter: none;
  }
  
 
  div.slick-slide:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) {
    position: relative;
  }
  

  .bKkiT > div {
    padding: 4px 8px;
    border-radius: 4px;}
