
html,body{
    overflow-x: hidden;
}

#header-row {
    background-color: #fff !important; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -140px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index:999;
  }
      
  
  p{font-size: 18px;}
  .heading-left{width:100%}
  
  .heading-right{display:none;}
  
  .jhQeTJ,.jdENRs {
      padding: 32px 0px 16px;
      background: rgb(239, 251, 255);
      padding-bottom: 7em;
      margin-top: 5em;
  }

.kemer_hotels_btn{
    color: #fff !important;
    font-size: 17px;
    font-weight: bold;
    background: #ee762d;
    padding: 15px 60px;
    border-style: none;
    margin:5em 0;
    text-decoration: none;
}

.kemer_hotels_btn:hover{
    background: #ee762d;
    opacity: 0.8;
}

  .fLSRNY {
    font-weight: 400;}
  
    .more {display: none;}
    .myBtn{
        border: 0;
        background: no-repeat;
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
        padding: 0;
        margin-bottom: 1em;
    }
    .myBtn:hover{
    color: #156280
    }
  
    section#odkryj {
      position: relative;
      width: 100%;
      /* min-height: 60vh; */
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      overflow: hidden;
    }
    
    section#odkryj .swiper {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 50px;
    }
    
    section#odkryj  .swiper-slide {
      width: 400px;
      height: 500px;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
      filter: blur(0.5px);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      text-align: center
    }
    
    section#odkryj .swiper-slide-active {
      filter: blur(0px);
    }
    
    section#odkryj  .swiper-pagination-bullet,
    section#odkryj  .swiper-pagination-bullet-active {
      background: #fff;
      width: 15px;
      height: 32px;
      border-radius: 4px;
    }
    
  
    section#odkryj  .swiper-slide h2 {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.4;
      margin-bottom: 15px;
  
    }
    
    section#odkryj  .swiper-slide p {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      display: flex;
      align-items: center;
      padding: 0 25px 35px 25px;
      justify-content: center;
    }
    
    section#odkryj   .swiper-slide svg {
      color: #fff;
      width: 22px;
      height: 22px;
      margin-right: 7px;
    }
    
    .swiper-slide--one {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://b2ccdn.coraltravel.pl/content/KEMER/0_slide.jpg")
          no-repeat 50% 50% / cover;
    }
    
    .swiper-slide--two {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://b2ccdn.coraltravel.pl/content/KEMER/1_slide.jpg")
          no-repeat 50% 50% / cover;
    }
    
    .swiper-slide--three {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://b2ccdn.coraltravel.pl/content/KEMER/2_slide.jpg")
          no-repeat 50% 50% / cover;
    }
    
    .swiper-slide--four {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://b2ccdn.coraltravel.pl/content/KEMER/3_slide.jpg")
          no-repeat 50% 50% / cover;
    }
    
    .swiper-slide--five {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://b2ccdn.coraltravel.pl/content/KEMER/4_slide.jpg")
          no-repeat 50% 50% / cover;
    }
    .swiper-slide--six {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
          url("https://images.unsplash.com/photo-1571900670723-a317a66e3fb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=423&q=80")
            no-repeat 50% 50% / cover;
      }
      .swiper-slide--seven {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
          url("https://images.unsplash.com/photo-1571900670723-a317a66e3fb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=423&q=80")
            no-repeat 50% 50% / cover;
      }
      .swiper-slide--eight {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
          url("https://images.unsplash.com/photo-1571900670723-a317a66e3fb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=423&q=80")
            no-repeat 50% 50% / cover;
      }
                  
    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
      background-image: none;
    }
  
  


.swiper-button-prev, .swiper-button-next {
    position: absolute;
    left: 10px;
    bottom: 0px;
    border: 2px solid #156280;
    border-radius: 4px;
    padding: 18px;
    margin: 0;
    width: 10px !important;
    height: 10px;
    color: #156280;
    font-weight: bold;
    font-size: 18px;
    top: unset;
    right: unset;
  }
  
  .swiper-button-prev:hover, .swiper-button-next:hover {
    color: #fff;
    background-color: #156280;
    border-color: #156280;
  }
  
  .swiper-button-next {
    left: 55px;
  }
  
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 900;
  }
  

  .swiper-txt{
    min-height: 320px;
  }

  .hero_slider{
    width:100%;height:100%;min-height:990px;overflow:hidden
  }

  .kemer_opis{
    width: 100%;background: rgba(255, 255, 255, 0.30);border-radius: 8px;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);padding: 2em 1.5em;margin: 3em 3em;
  }

.pani_plaza{
    position: relative;
}

.claim{
    font-family: Barlow, sans-serif;font-size: 118px;color: #edecec;font-style: italic;margin: 30px 0px;
}

.kemer-title{
    font-size: 42px;color: #333;margin: 0px 0 16px;font-weight: bold;
}

.pani-plaza{
    width: 360px;position:absolute; bottom:0
}


.kemer-okazje h1{text-align: center;color: #005f8f;margin: 2em 0 .5em 0;}
.kemer-okazje p{
    text-align: center;color: #005f8f;font-size: 20px;margin: 0em 0 3em 0
}


  @media screen and (max-width: 600px) {

    .hero_slider{
        width:100%;height:100%;min-height:330px;overflow:hidden
      }
      .kemer_opis{
        width: unset;
      }
      .pani_plaza{
        position: unset;
    }
    .claim{
        font-size: 60px;
    }
    .jhQeTJ,.jdENRs {
        padding:0 2em 2em;
        margin-top:0;
    }
        
    .kemer-title{
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .pani-plaza{
        max-width: 200px;
    }

    .kemer_wycieczki h1{
        padding-right: 4em;
    }
    .kemer-okazje h1{text-align: center;color: #005f8f;margin: 1em 0 .5em 0;}
    .kemer-okazje p{
        text-align: center;
        color: #005f8f;
        font-size: 20px;
        margin: 0em 0 1em 0;
        line-height: 140%;
    }

  }